.main-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px;
    border: 2px solid pink;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    border: 2px solid blue;
}

.dashboard-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    border-radius: 5px;
    padding: 25px;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 1;
    height: 180px;
}

.dashboard-sold {
    border: 2px solid mediumseagreen;
    color: mediumseagreen;
    background-color: hsl(147, 50%, 92%);

}

.dashboard-purchased {
    border: 2px solid hsl(210, 80%, 56%);
    color: hsl(210, 80%, 56%);
    background-color: hsl(210, 100%, 92%);

}

.dashboard-stock {
    border: 2px solid coral;
    color: coral;
    background-color: hsl(16, 100%, 94%);

}

.bestseller-container {
/*    display: flex;*/

}
.product {
    display: flex;
    padding: 15px;
    border: 2px solid purple;
}

.product-info {

/*    padding: 15px;*/
    border: 2px solid yellowgreen;
}

.product-best-seller {
    border: 1px dashed black;
    background-color: hsl(0, 0%, 93%);
}


.product-image {
    max-width: 200px;
    border: 2px solid green;
    padding: 15px;
}

.product-image img {
    width: 100%;
    height: auto;
}

.specs-list {
    display: flex;
    padding-top: 8px;

}

.icon {
    width: 15px;
    padding: 1px;
}
button {
    margin: 8px;
    padding: 2px;
    border-radius: 3px;

}

ul {
    list-style: none;
}